<aside>
    <section>
        <div>
            <h4 class="card-header">Tutors</h4>
        </div>
    </section>
    <section id="note-card">
        <nav id="note-card-header">
            <h4>Notes</h4>
            <div class="icons">
                <i class="fas fa-save text-light save-note"></i>
                <i class="fas fa-pen text-light new-note"></i>
            </div>
        </nav>
        <div id="note-card-body">
            <input id="note-title" placeholder="Note Title" maxlength="28" type="text">
            <textarea id="note-text" placeholder="Note Text"></textarea>
        </div>
    </section>
    <section>
        <div id="notes-saved-card">
            <h4>Saved Notes</h4>
            <div>
                <ul class="list-group"></ul>
            </div>

        </div>
    </section>

</aside>