<aside>
<!--    <section>-->
<!--        <div>-->
<!--            <h3 class="card-header">Tutors</h3>-->
<!--        </div>-->
<!--    </section>-->
    <section class="note-card">
        <nav class="titular">
            <h3>Notes</h3>
            <div class="icons">
                <i id="save-note" class="fas fa-save text-light"></i>
                <i id="new-note" class="fas fa-pen text-light"></i>
            </div>
        </nav>
        <div id="note-card-body">
            <input id="note-title" placeholder="Note Title" maxlength="28" type="text">
            <textarea id="note-text" placeholder="Note Text"></textarea>
        </div>
    </section>
    <section>
        <div class="notes-saved-card">
            <h3 class="titular">Saved Notes</h3>
            <div>
                <ul class="list-group"></ul>
            </div>

        </div>
    </section>

</aside>

<script src="js/note.js"></script>