<section class="hero">
    <div class="hero-inner">
        <h2>Welcome to...</h2>
        <h1>Tech</h1>
        <h1 id="logo-orange">Ready</h1>
        <h2><span id="typewriter"></span><span id="cursor"> </span></h2>
    </div>
</section>

<div class="flex">
    <section id="homepage-container">
        <ul id="sort-by">
            <li class="sort-by-tab">Trending</li>
            <li class="sort-by-tab">Recent</li>
            {{#if logged_in}}
                <li class="sort-by-tab">My Questions</li>
            {{/if}}

        </ul>

        {{#each questions as |question| }}
            <a id="question-container" href="/question/{{question.id}}">
                <div id="homepage-card">
                    <div id="question-header">
                        <h3 class="question_title">{{question.question_title}}</h3>
                        <p class="date-text">{{format_date question.date_created}}</p>
                    </div>
                    <p class="question_text">{{question.question_text}}</p>
                </div>

            </a>
        {{/each}}

    </section>
    {{#if logged_in}}
        {{> sidebar}}
    {{/if}}


</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/typewriter.js"></script>