<section class="hero">
    <div class="hero-inner">
        <h2>Welcome to...</h2>
        <h1>Tech</h1>
        <h1 id="logo-orange">Ready</h1>
        <h2><span id="typewriter"></span><span id="cursor"> </span></h2>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/typewriter.js"></script>