<section id="homepage-container">
    <div>
        <h2>Interview Questions</h2>
        <a href="/ask-question">
            <button id="ask-question-btn">Ask a Question</button>
        </a>
    </div>

    <ul id="sort-by">
        <li class="sort-by-tab">Trending</li>
        <li class="sort-by-tab">Recent</li>
    </ul>

    {{#each questions as |question| }}
        <a href="/question/{{question.id}}">
            <div class="card">
                <h3 class="question_title">{{question.question_title}}</h3>
                <div>
                    <p class="question_text">{{question.question_text}}</p>
                    <p>{{format_date question.date_created}}</p>
                </div>

            </div>
        </a>
    {{/each}}
</section>
