
<div class="login-card-container">
    <div class="login-card">
        <h3 class="card-login-header">Login</h3>
        <div class="login-content">
            <form action="/api/login" method="POST" class="login-form">
                <input type="text" name="username" placeholder="Username" />
                <input type="text" name="password" placeholder="Password" />
                <input type="submit" value="Login" class="submit-button" />
            </form>
        </div>
    </div>
</div>