<div class="background">
    <div class="login-container">
        <div class="viv-image"></div>
            <form action="/api/login" method="POST" class="login-form">
                <h2 id="login-title">Login</h2>
                {{#if logInFailed}}
                    <p class="error-message error-message-login">Incorrect
                        Username/password.</p>
                {{/if}}
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <button type="submit" value="Login" value="true">Login</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>