<!--to do update edit and change password links-->
<div class="profile-container">
  <div class="my-profile-card">
    <h3 class="my-contact-details-header">My Profile</h3>
    <a href="/editprofile">edit</a>
    <div>
      <img src="" alt="Profile Photo" width="200" height="200" />
    </div>
    <h4 class="my-contact-details-header">Contact Information</h4>
    <form>
      <label for="username"></label><br />
      <input type="text" id="username" name="User Name" />

      <label for="firstName">First Name:</label><br />
      <input type="text" id="firstName" name="First Name" />

      <label for="lastName">Last Name:</label><br />
      <input type="text" id="lastName" name="Last Name" />

      <label for="email">Email:</label><br />
      <input type="text" id="email" name="Email" />
    </form>
  </div>
</div>

<div class="my-specialty-card">
  <h3 class="my-specialty-details-header">My Speciality</h3>
  <div class="my-specialty-details-content">
    <label for="specialty">Specialty Area</label>
    <select name="specialty" id="specialty">
      <option value="fullstack">Full Stack Developer</option>
      <option value="frontend">Front End Developer</option>
      <option value="backend">Back End Developer</option>
    </select>
    <input type="checkbox" name="tutor" value="tutor" />Tutor<br />
    <a href="https://">Opt Out</a>
    <p id="status">Status</p>
    <p id="quizresult">Latest Quiz Result</p>
    <a href="https://">Opt Out</a>
  </div>
</div>