<section id="background-color">
    <main class="profile-card">
        <div>
            <div class="profile-top-banner"></div>
            <div class="profile-picture">
                <img src="../images/avatar-1577909_1280.png" alt="Profile Picture" />
            </div>
<!--            <div class="profile-edit">-->
<!--                <a href="/user/:id">Edit Profile</a>-->
<!--                <i class="fas fa-edit"></i>-->
<!--                </h6>-->
<!--            </div>-->
            <div class="profile-name">
                <a href="https://au.linkedin.com/" target="_blank">{{firstName}} {{lastName}}</a>
            </div>
            <div class="profile-info">
                <p>{{username}}</p>
                <br>
                <p>{{email}}</p>
                <p></p>
            </div>
            <div id="isTutor">
                <h6 title="tutor">
                    <i class="fa fa-trophy"></i> <span class="score">81</span>
                </h6>
            </div>

            <div class="profile-summary">
                <div class="students">
                    <h6 title="Number of students tutored">
                        Students <i class="fas fa-users"></i>
                    </h6>
                    <p>6</p>
                </div>
                <div class="projects">
                    <h6 title="Number of projects created by the user">
                        Git Projects <i class="fab fa-github"></i>
                    </h6>
                    <p>39</p>
                </div>
                <div class="posts">
                    <h6 title="Number of posts">
                        Posts <i class="fas fa-comments"></i>
                    </h6>
                    <p>10</p>
                </div>
            </div>
        </div>
    </main>
    <aside id="left-container">
        <!-- MENU BOX (LEFT-CONTAINER) -->
        <div class="menu-box block">
            <h2 class="titular">MENU</h2>
            <ul class="menu-box-menu">
                <li>
                    <a class="menu-box-tab" href="#14"><span class="icon scnd-font-color"></span>Take Quiz</a>
                </li>
                <li>
                    <a class="menu-box-tab" href="#14"><span class="icon scnd-font-color"></span>My Tutors</a>
                </li>
                <li>
                    <a class="menu-box-tab" href="/notes"><span class="icon scnd-font-color"></span>Saved Notes</a>
                </li>

                <li>
                    <a class="menu-box-tab" href="#12"><span class="icon entypo-cog scnd-font-color"></span>Account Settings</a>
                </li>

            </ul>
        </div>
        <!-- speciality block -->
        <div class="specialty-box block">
            <h2 class="titular">SPECIALTY
                <i class="fa fa-code" aria-hidden="true"></i></h2>
            <div class="skill html">
                <h6><i class="fab fa-html5"></i> HTML5</h6>
                <div class="bar bar-html">
                    <p class="percentage">95%</p>
                </div>
            </div>
            <div class="skill css">
                <h6><i class="fab fa-css3-alt"></i> CSS3</h6>
                <div class="bar bar-css">
                    <p class="percentage">90%</p>
                </div>
            </div>
            <div class="skill javascript">
                <h6><i class="fab fa-js"></i> JavaScript</h6>
                <div class="bar bar-js">
                    <p class="percentage">75%</p>
                </div>
            </div>
        </div>
    </aside>
</section>
