<div class="card">
    <h3 class="question_title card-header">{{question_title}}</h3>
    <div>
        <p class="card-body">{{question_text}}</p>
        <p>{{format_date date_created}}</p>
    </div>
</div>





