<div class="tutors-page">
    <form action="api/users/tutor" method="post" class="tutor-search-bar">
        <label for="search-bar">Search:</label>
        <input type="text" class="search-bar" name="tutorUsername" />
        <button type="submit"><img src="" alt="magnifying glass" /></button>
    </form>
    <div class="tutors-card-container">
        {{#each tutors as |tutor|}}
            <div class="tutor-card">
                <header class="tutor-card-header">
                    <h1 class="tutor-profile-photo">&#128578</h1>
                    <h1 class="tutor-name">{{tutor.dataValues.firstName}}
                        {{tutor.dataValues.lastName}}</h1>
                </header>
                <div class="tutor-content">
                    <p class="tutor-email">Email:
                        <a
                            href="mailto:{{tutor.dataValues.email}}"
                            class="email"
                        >{{tutor.dataValues.email}}</a></p>
                    <p class="tutor-github">Github:
                        <a href="" class="">GitHub Username</a></p>
                    <div class="tutor-further-info">
                        <h3>Reputation
                            <i class="fa fa-trophy"></i></h3>
                        <span class="score">81</span>
                        <h3 title="Number of students tutored">
                            Students
                            <i class="fas fa-users"></i>
                        </h3>
                        <p>6</p>
                        <h3 title="Number of posts">
                            Posts
                            <i class="fas fa-comments"></i>
                        </h3>
                        <p>10</p>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>
</div>