:root {
    --oxford-blue: #1D263B;
    --white: #FFFFFF;
    --orange: #FF9D00;
    --green: #40FF00;
    --purple: #FF03FF;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Trispace', sans-serif;
}


header,
footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--oxford-blue);
    color: var(--white);
    padding: 20px;

}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

#logo-white {
    color: var(--white);
}

#logo-orange {
    color: var(--orange);
    font-weight: 900;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}
.logo-purple {
    color: var(--purple);
    font-size: 60px;
}

nav {
    align-self: center
}

nav a {
    color: var(--white);
    text-decoration: none;
    padding-left: 10px;
}

.hero {
    background-image: url(../images/code-oxford-blue.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    display: flex;
    padding-left: 30px;
    align-items: center;
    color: var(--white);

}

.hero h1 {
    font-size: 125px;
}

.hero h2 {
    margin-top: 25px;
    display: flex;
}


#typewriter {
    display: block;
    color: var(--white);
}

#cursor {
    border-left: 4px solid;
    animation: caret 1s steps(1) infinite;
    padding: 0 1rem 0 1rem;
    margin-left: 0.5rem;
}

form {
    display: inline-grid;
}