:root {
    --oxford-blue: #1d263b;
    --dark-blue: #394264;
    --grey-blue: #50597b;
    --warm-grey: #726868;
    --white: #FFFFFF;
    --orange: #FF9D00;
    --pastel-green: #96b88b;
    --purple: #FF03FF;
    --light-grey: #f8f8f8;
    --light-purple: #e3c9e3;
    --note-purple: #e76fe7;
    --note-green: #71bc60;
    --turquoise: #11a8ab;
    --pink: #e64c65;
    --Space-Grotesk: "Space Grotesk", sans-serif;
    --Space-Mono: "Space Mono", monospace;
    --Trispace: "Trispace", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--Trispace);
  background-color: var(--light-grey);
}

/* Main */

header,
footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--oxford-blue);
  color: var(--white);
  padding: 20px;
  box-shadow: inset 0 -24px 30px -12px rgba(10, 13, 20, 0.54);
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo:hover {
  text-decoration: none;
  display: flex;
  align-items: center;
}



#logo-white {
  color: var(--white);
}

.logo-orange {
  color: var(--orange);
  font-weight: 900;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
.logo-purple {
  color: var(--purple);
  font-size: 70px;
  padding-bottom: 10px;
}

#text-orange {
  color: var(--orange);
  padding-left: 8px;
}

nav {
  align-self: center;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
  padding-left: 10px;
}

.hero {
  background-image: url(../images/code-oxford-blue.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  padding-left: 30px;
  align-items: center;
  color: var(--white);
}

.hero h1 {
  font-size: 125px;
}

.hero h2 {
  margin-top: 25px;
  display: flex;
}

#typewriter {
  display: block;
  color: var(--white);
}

#cursor {
  border-left: 4px solid;
  animation: caret 1s steps(1) infinite;
  padding: 0 1rem 0 1rem;
  margin-left: 0.5rem;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* Signup */

.background {
  background-image: url(../images/code-oxford-blue.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container {
  display: inline-flex;
  width: 60vw;
  box-shadow: 0 2px 30px 1px rgba(10, 13, 20, 0.54);
}

.login-container {
  display: inline-flex;
  width: 60vw;
  height: 40vh;
  box-shadow: 0 2px 30px 1px rgba(10, 13, 20, 0.54);
}

.viv-image {
  width: 50vw;
  background-color: var(--pastel-green);
  background-image: url(../images/people-using-app.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.creator-name {
  color: var(--note-green);
  font-size: 28px;
  text-decoration: none;
}

.pl {
  padding-left: 10px;
}

form {
  display: inline-grid;
  background-color: var(--white);
  color: var(--oxford-blue);
  padding: 39px;
  width: 80%;
}

.error-message {
    color: red;
    padding-top: 10px;
}

form h2 {
  padding-bottom: 20px;
}

form label,
form input {
  margin: 5px 0;
}

#isTutor-checkbox {
  padding: 15px 0 18px;
}

form button {
  padding: 10px 0;
  margin: 10px 0;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 6px;
  border-color: white;
  font-weight: 900;
  font-size: 15px;
}

.flex {
  display: flex;
}

/* Homepage */

#homepage-container {
  margin: 30px;
  width: 70%;
}

#tab-btn {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

#ask-question-btn {
  background-color: var(--orange);
  color: white;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 10px;
}

#sort-by {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  color: var(--oxford-blue);
  padding: 20px 0;
}

.sort-by-tab {
  margin-right: 30px;
}

li {
  padding-bottom: 3px;
  border-bottom: 0.2rem solid var(--oxford-blue);
}

li:hover {
  border-bottom: 0.2rem solid var(--purple);
}
/* Questions */

#homepage-card {
  background-color: white;
  color: var(--oxford-blue);
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

#homepage-card:hover {
  background-color: var(--orange);
  color: var(--white);
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

#question-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

#question-container {
  text-decoration: none;
}

.question-card {
  border: 2px solid var(--note-green);
  border-radius: 10px;}

.question-card-header {
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--note-green);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-card-header a {
  color: var(--white);
  text-decoration: none;
}

#question-body {
  padding: 10px;
}

.question-margin {
  margin: 30px;
}

.ask-question-card {
  margin: 5px;
  padding: 5px;
  height: 300px;
}

.ask-question-form {
  width: 100%;
}

.ask-btn {
  background-color: var(--turquoise);
  color: var(--white);
}

.ask-question-card .titular {
  background-color: var(--turquoise);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
#question-title::placeholder,
#question-text::placeholder {
  color: var(--warm-grey);
  opacity: 1; /* Firefox */
}
#question-title:-ms-input-placeholder,
#question-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--warm-grey);
}
#question-title::-ms-input-placeholder,
#question-text::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--warm-grey);
}

.user-name-date {
  text-align-last: end;
  opacity: 70%;
}

.comment-card {
  text-align: center;
  padding: 20px;
  background-color: var(--white);
}

#comment-form {
  display: inline-block;
}

.comment-form-group {
  display: grid;
}

#comment-text {
  height: 100px;
}

#comment-container {
  background-color: var(--white);
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
}
.card-body p {
  padding: 10px 0;
}

.btn-primary {
  background-color: var(--note-green);
  font-size: 24px;
}
#comment-font {
  font-size: 24px;
}


/* Sidebar */

aside {
  width: 30%;
  background-color: var(--oxford-blue);
  color: var(--white);
  padding: 10px;
  box-shadow: inset 0 -24px 30px -12px rgba(10, 13, 20, 0.54);
}

.note-card {
  margin: 5px;
  padding: 5px;
  height: 300px;
}

.note-card .titular {
  background-color: var(--pink);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

#save-note,
#new-note {
  padding-left: 10px;
}

#note-title {
  width: 100%;
  padding: 8px;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-bottom: 2px solid var(--oxford-blue);
}

#note-text {
  width: 100%;
  padding: 8px;
  height: 200px;
  border: none;
  background-color: var(--dark-blue);
  color: var(--white);
}
#note-title::placeholder,
#note-text::placeholder {
  color: var(--white);
  opacity: 1; /* Firefox */
}
#note-title:-ms-input-placeholder,
#note-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--white);
}
#note-title::-ms-input-placeholder,
#note-text::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--white);
}

.notes-saved-card {
  margin: 5px;
  padding: 5px;
}

.notes-saved-card .titular {
  background-color: var(--turquoise);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.list-group {
  padding: 0;
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-bottom: 2px solid var(--oxford-blue);

}

.list-group-item {
  padding: 8px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.list-group-item:hover {
  padding: 8px;
  list-style: none;
  border: none;
  background-color: var(--grey-blue);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--oxford-blue);

}

  /* Profile CSS */

#background-color {
  background-color: var(--oxford-blue);
  padding: 10px 10px 30px;
  display: flex;
}

.profile-card {

  margin: 20px;
  width: 60%;
  /*border-radius: 15px;*/
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  text-align: -webkit-center;
}

.profile-card a {
  color: var(--white);
  text-decoration: none;
}

.profile-card a:hover {
  text-decoration: none;
  color: var(--orange);
}

.profile-top-banner {
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--orange);
}

.profile-picture {
  margin: 30px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px var(--orange), inset 0 0 0 5px var(--purple);
  background: white;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name a {
  font-size: 50px;
  text-transform: capitalize;
}

.profile-edit {
  margin: 20px;
  height: 40px;
  color: var(--white);
  font-size: 20px;
}

.profile-edit i {
  size: 10px;
}

.profile-info {
  margin: 20px;
  color: var(--white);
  font-size: 20px;
}

#isTutor {
  margin: 40px 20px;
  color: var(--white);
  font-size: 90px;
}

.profile-summary {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  align-items: flex-end;
}

.students,
.projects,
.posts {
  color: var(--white);
  padding: 15px 20px;
  font-size: 30px;
}

.specialty-box {
  padding-bottom: 30px;
}

.specialty-box .titular {
  background: var(--orange);
  color: var(--white);
}

.skill > h6 {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.05em;
  margin-left: 5px;
  margin-top: 16px;
  color: white;
  padding: 0.5rem;
}
.percentage {
  padding-top: 10px;
  color: var(--white);
}

.fab {
  color: var(--orange);
  font-size: 14px;
  margin-left: 5px;
}

.bar {
  height: 10px;
  width: 100px;
  background: var(--pastel-green);
  text-align: right;
  margin-left: 8px;
  padding: 10px;
}

.bar-html {
  width: 95%;
}
.bar-css {
  width: 90%;
}
.bar-js {
  width: 75%;
}

/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/

/*a {*/
/*  text-decoration: none;*/
/*  font-size: 15px;*/
/*}*/

/*.scnd-font-color {*/
/*  color: #9099b7;*/
/*}*/

.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* .button {
  display: block;
  width: 175px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
}
.button:hover {
  text-decoration: none;
} */

/* .arrow-btn-container {
  position: relative;
}
.arrow-btn {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
}
.arrow-btn:hover {
  text-decoration: none;
}
.arrow-btn.left {
  border-top-left-radius: 5px;
}
.arrow-btn.right {
  border-top-right-radius: 5px;
  right: 0;
  top: 0;
}
.arrow-btn .icon {
  display: block;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 100%;
  line-height: 17px;
  width: 21px;
  margin: 20px auto;
  text-align: center;
}
.arrow-btn.left .icon {
  padding-right: 2px;
} */

/** CONTAINERS **/
#left-container {
  width: 40%;
  margin: 20px;
  padding: 0;
  box-shadow: none;
}

#right-container {
  width: 60%;
  margin: 20px;
  padding: 0;
}

.block {
  margin-bottom: 25px;
  background: #394264;
  border-radius: 5px;

}

/******************************************** Menu *****************************************/

.menu-box .titular {
  background-color: var(--turquoise);
  color: var(--white);
}

.menu-box-number {
  width: 36px;
  line-height: 22px;
  background-color: var(--oxford-blue);
  text-align: center;
  border-radius: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-box-menu li {
  height: 60px;
  list-style-type: none;
}

.menu-box-tab {
  color: var(--white);
  line-height: 60px;
  display: block;
  text-decoration: none;
}
.menu-box-tab:hover {
  background-color: var(--grey-blue);
}
.menu-box-tab:hover .icon {
  color: var(--warm-grey);
}
.menu-box-tab:hover .menu-box-number {
  background-color: var(--pink);
}

/* Calendar */

.calendar {
  text-align: center;
  padding: 15px;
  margin-left: 30px;
  margin-right: 10px;
}
.calendar-month {
  padding-bottom: 10px;
}
.calendar-month .titular {
  background: #3468af;
}
.calendar-month .arrow-btn:hover {
  background: #1a4e95;
}

.calendar a {
  font-size: 17px;
}
.calendar td,
.calendar th {
  width: 70px;
  height: 40px;
}
.calendar .days-week {
  color: #4fc4f6;
}

.today {
  display: block;
  width: 34px;
  line-height: 34px;
  background-color: var(--pink);
  border-radius: 100%;
}

footer {
  align-items: center;
  padding: 20px 60px;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .signup-container,
  .login-container {
    width: 80%;
  }
}

/* Medium devices (portrait tablets and large phones, 768px and down) */
@media screen and (max-width: 768px) {
  .signup-container,
  .login-container {
    width: 80%;
  }

  .viv-image {
    display: none;
  }

  form {
    width: 100%;
  }

  #background-color {
    display: block;
    text-align: -webkit-center;
  }

  #left-container,
  .profile-card {
    width: 90%;
  }
  #comment-container {
    width: 70%;
  }

}

@media screen and (max-width: 700px){
  header {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .flex {
    display: grid;
  }
  #homepage-container {
    width: 90%;
  }
  aside {
    width: 100%;
  }
}

/* Small devices (phones, 425px and down) */
@media screen and (max-width: 425px) {


  .background {
    align-items: flex-start;
  }

  .signup-container,
  .login-container {
    width: 100%;
    margin-top: 15%;
  }

  form {
    width: 100%;
  }

  .menu-box-menu {
    padding: 0;
  }

}
